.input {
	border-width: 2px !important;
	border-radius: 20px !important;


	&:focus,
	&:active {
		box-shadow: 0 0 5px 1px var(--accent-color) !important;
		border-color: var(--bs-gray-500) !important;
	}
}

.button {
	background-color: var(--accent-color) !important;
	border-color: var(--accent-color) !important;
	font-weight: 500 !important;
  min-width: 100px;
	border-radius: 20px !important;
  margin-top: 20px;
}
